.product-image{
    width: auto;
    height: 12em;
    object-fit:cover;
}

.rideimg {
    box-shadow: 0 4px 8px 0 rgba(105, 36, 36, 0.2);
    max-width: auto;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
}


