/* styles.css */
.navbar {
    background-color: transparent !important;
}


.navbar-collapse {
    backdrop-filter: blur(10px);
}

.nav-link{
    display: flex;
    align-items: center;
}

.nav-link svg{
    margin-right: 5px;
}

.navbar-dark .navbar-nav .nav-link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: black;
    position: relative;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color:red;
}

.navbar-dark .navbar-nav .nav-link:hover::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px; /* Adjust as needed to position the line */
    left: 0;
    width: 100%;
    height: 2px; /* Thickness of the line */
    background-color: red;
}

.navbar-dark .navbar-brand{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: black;
}

.navbar-dark .navbar-brand span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: red;
}

.navbar-dark .navbar-brand:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: red;
}

.navbar-dark .navbar-brand span:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: black;
}

/* Custom styles for the navbar toggler to be black when collapsed */
.navbar-dark .navbar-toggler {
    border-color: rgb(0, 0, 0); /* Optional: changes the border color of the toggler */
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

@media (max-width: 991px) {
    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    }
}
